.container {
  max-width: 50ch;
  margin: 1em auto;
}

.container-wide {
  max-width: 100ch;
  margin: 1em auto;
}

.field {
  margin: 1em 0;

  & label {
    display: block;
  }
}

.stack {
  display: flex;
}

.stack-gap-1 {
  gap: 0.5em;
}

.stack-gap-2 {
  gap: 1em;
}

.stack-x {
  flex-direction: row;
}

.stack-y {
  flex-direction: column;
}

.slab {
  border-radius: 1em;
}
