.calculator {
  border: 1px dashed #000;
  padding: 15px;
  background-color: #adbed8;
  margin-top: 15px;
}

h1 {
  margin-block-start: 0;
  text-align: center;
}

button {
  display: block;
  background-color: #069;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 5px;
  margin-top: 15px;
  border: none;
  width: 100%;
  padding: 1em;
  font-size: inherit;
}
